.page {
    height: auto;
    width: 100%; 
    display: flex;
}
.display {
    width: 100%;
}
.hero-sect {
    width: 100%;
    height: 50vh;
    background-color: rgb(84, 92, 95);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(219, 13, 13);
     
}

.cont-sect {
    width: 100%;
    height: 50vh;
    background-color: rgb(84, 92, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(219, 14, 14);
     
}