{% extends "layout.html" %}

{% block content %}
<!-- Here can write all code for Home-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="static\about.css">

<div class="page">
    <div class="about">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consequuntur a inventore vel est temporibus
            aliquam id, architecto sit! Dignissimos iure cum ex nemo eos beatae sequi voluptas doloribus ab! Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Expedita blanditiis, quasi sed voluptatem ullam eveniet vero
            maxime dolorum quo, earum dignissimos dolorem esse assumenda nulla, fuga consectetur cum soluta odio!
            Sunt, itaque architecto eum porro recusandae exercitationem, quam reiciendis veniam iusto voluptatibus
            obcaecati laudantium ad distinctio doloribus repellendus. Iusto atque at praesentium! Facilis eum eius id
            iure deleniti, rem alias.
            Facilis laborum neque omnis id praesentium unde, tempore perferendis adipisci a officia nemo explicabo
            possimus dolorum qui nisi optio reprehenderit temporibus magnam nesciunt at! Numquam ut corporis quidem
            doloremque aut?
            Ipsam tempore quos explicabo, repellendus impedit nisi, magnam iusto perspiciatis delectus id maiores
            deserunt, molestias adipisci minima consequuntur natus tenetur neque architecto earum velit porro sed alias
            laboriosam quia. Quod!
            Maiores tempore dolorem numquam at porro, quibusdam, perspiciatis, voluptas earum officiis ipsam in
            necessitatibus velit quia! Esse, quo. Velit quos autem excepturi dicta officiis nam reiciendis, a minima
            eaque odit.
            Pariatur, magni nihil excepturi dolore qui magnam voluptatibus in, quisquam numquam debitis non temporibus
            ducimus nulla accusantium aliquid! Velit veniam sapiente earum! Adipisci a, possimus tempora alias
            repudiandae odio corporis.
            Beatae esse iste illo delectus omnis velit nesciunt perferendis, quibusdam natus eligendi, veniam obcaecati
            repudiandae molestias incidunt quae libero explicabo? Adipisci libero quisquam commodi in officia temporibus
        </p>
        <div class="display-box">
            <div class="box">
                <div class="img-box">
                    <img src="static\ratan.jpeg" alt="">
                </div>
                <div class="description-box">
                    <h1>Ratan Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES505</li>
                </div>
            </div>
        
            <div class="box">
                <div class="img-box">
                    <img src="static\shubhangam.jpeg" alt="image">
                </div>
                <div class="description-box">
                    <h1>Shubhangam Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES635</li>
                </div>
            </div>
        
            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Rishik Kumar Chaurasiya</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES522</li>
                </div>
            </div>
        
            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Prince Kumar</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES1022</li>
                </div>
            </div>
        
            <div class="box">
                <div class="img-box">
                    <img src="#" alt="image">
                </div>
                <div class="description-box">
                    <h1>Anshul Khare</h1>
                    <li>Collage : IIT Patna </li>
                    <li>Cource : Bsc(Hons): CSDA </li>
                    <li>Roll No. 2312RES5981</li>
                </div>
            </div>
        </div>
        
    </div>
</div>







{% endblock %}